<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
                <%- include('../partials/navigation', { nav }) %>

                    <main>
                        <%- body %>
                    </main>
                    <%- include('../partials/footer') %>


        </div>
    </body>

</html>